DEBUG=true
SECRET_KEY=change-me
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
DATABASE_ENGINE=django.db.backends.postgresql
DATABASE_NAME=inventory_db
DATABASE_USER=inventory_user
DATABASE_PASSWORD=inventory_password
DATABASE_HOST=db
DATABASE_PORT=5432
POSTGRES_DB=inventory_db
POSTGRES_USER=inventory_user
POSTGRES_PASSWORD=inventory_password
